doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/css/qunit-1.17.1.css')
  body
    #qunit
    #qunit-fixture
    script(data-main="app/unittestsmain", src="lib/require/require.js")
